<title>{{ title }}</title>

<body>


  <div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">{{ data.original_title }}</h3>
          <img class = "card__image" src="https://img.fruugo.com/product/0/08/14290080_max.jpg" alt="Fake getting image from API">
          <p class="card__info">{{ data.overview }}</p>
          <div class="card_stats"> {{ data.vote_count }} | {{ data.vote_average }}</div>
          <form action="{{ data.homepage }}">
            <button class="card__button" >Learn more</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  
</body>
