
    <div class="p-5 mx-auto max-w-screen-xl">
    <h2 class="font-bold uppercase text-xl pb-4">Featured</h2>
    



        <iframe width="920" height="480" src="https://www.youtube.com/embed/oZ6iiRrz1SY">
        </iframe>


    <div class="p-5 mx-auto max-w-screen-xl">
    <h2 class="font-bold uppercase text-xl pb-4">Suggestions : {{ actionSuggestionName }}</h2>

    <div class="grid grid-flow-row-dense grid-cols-2 gap-3 justify-between sm:grid-cols-3 md:grid-cols-4">
  
        <app-movie-card movieTitle="{{ byGenre[0].results[3].original_title }}" overviewMovie="{{ byGenre[0].results[3].overview }}" date="{{ byGenre[0].results[3].release_date }}" note="{{ byGenre[0].results[3].vote_average }}" runtime="{{ byGenre[0].results[3].runtime }}" poster="{{ byGenre[0].results[3].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[4].original_title }}" overviewMovie="{{ byGenre[0].results[4].overview }}" date="{{ byGenre[0].results[4].release_date }}" note="{{ byGenre[0].results[4].vote_average }}" runtime="{{ byGenre[0].results[4].runtime }}" poster="{{ byGenre[0].results[4].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[5].original_title }}" overviewMovie="{{ byGenre[0].results[5].overview }}" date="{{ byGenre[0].results[5].release_date }}" note="{{ byGenre[0].results[5].vote_average }}" runtime="{{ byGenre[0].results[5].runtime }}" poster="{{ byGenre[0].results[5].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[6].original_title }}" overviewMovie="{{ byGenre[0].results[6].overview }}" date="{{ byGenre[0].results[6].release_date }}" note="{{ byGenre[0].results[6].vote_average }}" runtime="{{ byGenre[0].results[6].runtime }}" poster="{{ byGenre[0].results[6].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[7].original_title }}" overviewMovie="{{ byGenre[0].results[7].overview }}" date="{{ byGenre[0].results[7].release_date }}" note="{{ byGenre[0].results[7].vote_average }}" runtime="{{ byGenre[0].results[7].runtime }}" poster="{{ byGenre[0].results[7].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[8].original_title }}" overviewMovie="{{ byGenre[0].results[8].overview }}" date="{{ byGenre[0].results[8].release_date }}" note="{{ byGenre[0].results[8].vote_average }}" runtime="{{ byGenre[0].results[8].runtime }}" poster="{{ byGenre[0].results[8].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[9].original_title }}" overviewMovie="{{ byGenre[0].results[9].overview }}" date="{{ byGenre[0].results[9].release_date }}" note="{{ byGenre[0].results[9].vote_average }}" runtime="{{ byGenre[0].results[9].runtime }}" poster="{{ byGenre[0].results[9].poster_path }}" genre=""></app-movie-card>
        <app-movie-card movieTitle="{{ byGenre[0].results[10].original_title }}" overviewMovie="{{ byGenre[0].results[10].overview }}" date="{{ byGenre[0].results[10].release_date }}" note="{{ byGenre[0].results[10].vote_average }}" runtime="{{ byGenre[0].results[10].runtime }}" poster="{{ byGenre[0].results[10].poster_path }}" genre=""></app-movie-card>

      
    </div>
  
