<div class="bg-black">
    <div class="flex relative text-center">
    <h1 class="text-3xl tracking-wider text-white text-sha uppercase font-bold p-4 self-center z-10 content-center absolute text-center w-full md:text-4xl">Welcome to jsp g pa di dé 2 nom</h1>
    <img class="w-full object-cover h-72 block mx-auto  sm:block sm:w-full" 
    src="https://images.unsplash.com/photo-1505934333218-8fe21ff87e69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
     alt="Banner" width="1920" height="288" />
    </div>
    </div>
    
    <div class="p-5 mx-auto max-w-screen-xl">
    <h2 class="font-bold uppercase text-xl pb-4">Trendings</h2>
    
    <div class="grid grid-flow-row-dense grid-cols-2 gap-3 justify-between sm:grid-cols-3 md:grid-cols-4">
  
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
        <app-movie-card movieTitle="The Man with the Golden Arm" overviewMovie="A junkie must face his true self to kick his drug addiction." date="1955-12-26" note="7.2" runtime="119" poster="/8aa14gG7RF8rvcVMrPEQzHffpVg.jpg" genre="Drama"></app-movie-card>
    
    </div>
    </div>
  
    <div class="bg-gray-200">
      <section class="py-5 mx-auto max-w-screen-xl  sm:flex flex-grow-0 sm:p-5">
      <article class="flex-col justify-center inline-flex self-stretch  p-6">
        <h2 class="uppercase font-semibold text-xl">See more</h2>
        <strong class="text-lg pb-2 font-normal font-sans sm:text-2xl">Tom Holland's interview</strong>
        <p class="text-sm pb-4">Take a look at Tom Holland's newest interview for Spider-man Homecoming!</p>
        <button class="font-semibold uppercase border-black border p-3 max-w-max hover:bg-gray-600 hover:text-white">Watch !</button>
      </article>
      <figure>
      <img 
      src="https://www.programme-tv.net/imgre/fit/https.3A.2F.2Fs1.2Edmcdn.2Enet.2Fv.2FKzLdU1Xv_9xlObu4b/720x405/crop-from/top/quality/80/tom-holland-spider-man-homecoming-j-ai-appris-que-j-etais-l-homme-araignee-sur-instagram-interview.jpg" 
      alt="Banner" looding="lazy" />
      </figure>
      </section>
    </div>