
/* MISE EN FORME DE LA CARTE */
.card {
  width: 90%;
  height: 180%;
  max-height: 300px;
  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
}

/* CONTAINER DE LA CARTE */
.card__container {
  display: grid;
  width: 100%;
  height: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
}

/* DESIGN DE LA CARTE */
.card__content {
  height: 160%;
  background: #191a19;
  padding: 20px;
}

/* DESIGN DE LA CARTE */
.card__image {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 150px;
}

/* TITRE DU FILM */
.card__header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 5px auto;
}

/* DESCRIPTION DU FILM */
.card__info {
  margin: 20% auto;
  margin-top: 5px;
  width:300px;
  overflow:hidden;
  height:40px;
  line-height:20px;
}


/* DESIGN DU BOUTTON LEARN MORE */
.card__button {
  padding: 6px;

  background: #1f75c4;
  color: white;
  cursor: pointer;
  border: none;
  margin: 10px auto;
}

/* AFFICHAGE DES STATS - VUES / NOTES */
.card__stats {
  border-radius: 50px;
}