/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#checkbox:checked+label .switch-ball {
    background-color: white;
    transform: translateX(24px);
    transition: transform 0.3s linear;
}